// .btn {
//     & a {
//         color: $main-color;
//         background: #C70101;
//         text-transform: uppercase;
//         text-align: center;
//         font-style: normal;
//         line-height: normal;
//         font-weight: 500;
//         text-decoration: none;
//         border-radius: 5px;
//     }

//     &_header a {
//         margin-top: 5px;
//         float: right;
//         font-size: 0.75rem;
//         padding: 8px 20px;

//         @media screen and (max-width: 600px) {
//             display: none;
//         }
//     }

//     &_promo a {
//         padding: 15px 40px;
//         font-size: 1rem;
//         font-weight: 500;
//     }
// }

.btn {

    color: $main-color;
    background: #C70101;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;

    &_header {
        margin-top: 5px;
        font-size: 0.75rem;
        height: 30px;
        width: 150px;
        display: block;
        margin-left: 10px;

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    &_consultation {
        width: 300px;
        height: 50px;
        font-size: 1rem;
        font-weight: 500;
    }
}

.catalog-item__btn {
    font-size: 14px;
    width: 135px;
    height: 45px;
}