.consultation {
    min-height: 680px;
    background: url("../img/consultation-bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0 110px 0;

    @media screen and (max-width: 988px) {
        min-height: 0;
        height: auto;
        text-align: center;
        padding: 50px 0;
    }


    &__title {
        color: $main-color;
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.375rem;
        text-transform: uppercase;

        @media screen and (max-width: 988px) {
            font-size: 1.5rem;
            line-height: normal;
            margin-bottom: 5px;
        }

        @media screen and (max-width: 600px) {
            font-size: 1.2rem;
        }
    }

    &__subtitle {
        color: $main-color;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.875rem;
        margin-bottom: 40px;

        @media screen and (max-width: 988px) {
            margin-bottom: 25px;
            line-height: normal;
        }

        @media screen and (max-width: 600px) {
            font-size: 1rem;
        }
    }
}