.header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 250px;
        height: auto;

        & img {
            height: 100%;
            width: 100%;
        }
    }

    &__representative {
        text-align: center;
        color: #FFF;
        font-style: normal;
        font-weight: 500;

        & p {
            font-size: 12px;
            line-height: 12px;
            margin: 0;
            padding-bottom: 15px;
        }

        & h2 {
            font-size: 18px;
            margin: 0;
        }
    }

    &__phone {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        margin-top: 15px;
        text-decoration: none;
    }
}