.promo {
    background: url(../img/promo-bg.jpg) center (center/cover) no-repeat;
    //height: 100vh;
    min-height: 100vh;
    width: 100%;
    padding: 25px 0 95px 0;
    color: $main-color;

    @media screen and (max-width: 988px) {
        padding: 25px 0 70px 0;
    }

    &__wrapper {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: center;

        @media screen and (max-width: 988px) {
            align-items: center;
        }

        @media screen and (max-width: 600px) {
            padding-top: 60px;
        }
    }

    &__header {
        font-size: 2.625rem;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (max-width: 988px) {
            font-size: 2rem;
            line-height: 2.2rem;
        }
    }

    &__subheader {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        padding-top: 17px;
        padding-bottom: 60px;

        @media screen and (max-width: 988px) {
            font-size: 1rem;
        }

        @media screen and (max-width: 600px) {
            padding-bottom: 50px;
        }
    }

    &__items-container {
        display: flex;
        padding-bottom: 70px;
        justify-content: space-between;
        gap: 40px;
        font-size: 0.875rem;

        @media screen and (max-width: 600px) {
            padding-bottom: 40px;
        }
    }

    &__item {
        text-align: center;

        & img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__order-katalog {
        text-align: right;
        margin-top: 25px;
        font-size: 1rem;

        a {
            color: $main-color;
            text-transform: uppercase;
            text-decoration: underline;
        }

        @media screen and (max-width: 988px) {
            margin-top: 30px;
        }
    }
}